

<header class='header'>
  {{#with header}}
    <div class="header-cont">
      <div>
        {{> logo2 data=brandName}}
      </div>
      <nav class='header_nav'>
        {{> nav2 data=links}}
      </nav>
    </div>

    <div class="sub_header">
      <div class="ad">
        <div class="logo_ad">
          <span>Ad</span>
        </div>
        {{#with ad}}
         <div class="ad_item">{{text}}: <a href="{{url}}" class="ad_url">{{url}}</a></div>
        {{/with}}
      </div>
      
      <div class="users_online">User online: {{userOnline}}</div>
    </div> 
  {{/with}}
</header>
   
<main class="main">
  {{#with hero}}
    <div class="hero">
      <h1 class="hero-title">{{title}}</h1>
      <p class="hero-text">{{description}}</p>
      <a class="hero-button" href="{{button.url}}">{{button.text}}</a>
    </div>
  {{/with}}
</main>

<div class="about">
  {{#with about}}
  <h1 class="about-title">{{heading}}</h1>
  <p class="about-text">{{info}}</p>
  {{/with}}
</div>

<div class="articles">
  <div class="articles-heading">
    <h1 class="articles-title">Our Article</h1>
    <a href="#" class="articles-heading-button">View All</a>
  </div>
  {{#each articles}}
    <div id="{{id}}" class="articles-card">
      <img src="{{photo}}" alt="article">
      <h2 class="article-card-title">{{name}}</h2>
      <p class="article-card-description">{{description}}</p>
      <a href="#" class="article-card-button">Read All</a>
    </div>
  {{/each}}
</div>

<footer class="footer">
  <div>
    <span class='footer_copyright'>Copyright 2023-2024</span>
  </div>

  {{#each footer}}
    <div>
      <span class='footer_title'>{{title}}</span>
      {{> nav list=links isVertical=true}}
    </div>
  {{/each}}
</footer>
